.app-header, .top-of-dialog {
    margin-bottom: 15px;
}

.dialog * {
    margin-bottom: 15px;
}


#content {
    margin: 30px auto;
    font-family: Arial;
    width: 95%;
    font-size: 20px;
}

.app-header {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid gray;
}

.slogan {
}

.dialog {
    width: 97.5%;
    margin: 0 auto;
}

input {
    height: 25px;
}

input, textarea {
    width: 100%;
    border: 1px solid gray;
    font-size: 18px;
    border-radius: 5px;
    padding: 3px;
}

#input_button {
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    display: block;
    background-color: black;
    border-color: black;
    cursor: pointer;
}

#input_button:hover {
    opacity: 0.9;
}

#input_button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}

.added {
	color: #00cf20;
}

.removed {
	text-decoration: line-through;
}

.error {
	background-color: pink;
    padding: 0 4px;
    margin: 0 auto;
}

#instructions {
    margin-bottom: 15px;
}

textarea {
	height: 220px;
}

/*
.firstw {
	background-color: LightGreen;
}

.lastw {
	background-color: LightGreen;
}
*/
h1 {
	font-size: 1.3em;
}

.body {
	border-left: 4px solid gray;
	padding: 10px 20px;
}

.name {
	font-style: italic;
}

.hide { display: none; }

#link_to_new_wrapper {
	margin-top: 30px;
}